# set
- element order is undefined
- duplicates not allowed - why?
- written with items inside '{}' 
    - unlike dictionaries, no ':'
- type name is 'set'
- [doc](https://docs.python.org/3.7/library/stdtypes.html#set-types-set-frozenset)

In [ ]:
# 'set' constructor function iterated over range
# 'len' returns the number of elements in the set

s1 = set(range(4,10))
s2 = set(range(8, 12))
s1,s2, type(s1), len(s1)

In [ ]:
# note that the set constructor takes an "iterable" 
# 34 is NOT an iterable so this bombs

set(34)

In [ ]:
# to make a set with one element, do

s = set()
s.add(34)
s

In [ ]:
# or 

s = set([34])
s

In [ ]:
# order doesn't matter

{4,5,2} == {2,4,5}

In [ ]:
# duplicates are not allowed in a set -
# they are automatically eliminated

{2,2,3,4,5,5,6}

In [ ]:
# dups ignored on adds

s = set()
s.add(1)
s.add(1)
s

In [ ]:
[s1, s2]

In [ ]:
# standard set operations
# intersection

s1 & s2

In [ ]:
# union - eliminates duplicates

s1 | s2

In [ ]:
# membership

[7 in s1, 12 in s2]

In [ ]:
s1, s2

In [ ]:
# set difference - elements in A but not in B

s1 - s2

In [ ]:
# elements in one set but not both

s1 ^ s2

In [ ]:
# add and remove set elements

s1.add(33)
s2.remove(9)
[s1, s2]

In [1]:
# can make a set with a 
# set comprehension
# dups not added

nset = {j*j for j in range(-4,10)}
nset

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

# Iteration over sets
- order not defined

In [2]:
for e in nset:
    print(e)

0
1
64
4
36
9
16
49
81
25

# frozenset
- immultable version of a set

In [ ]:
f = frozenset([1,2,3])
f

In [ ]:
# no add method

f.add(4)

# Can a dictionary implement a set?

# set methods

In [ ]:
dir(set)