# DataFrame
- like a spreadsheet
    - labeled columns
    - rows of data
    - can also be thought of as a collection of Series with the same index
        - each column is a series

In [1]:
# make a DataFrame' from a CSV file
# by default frame displays first and last 30 lines

import pandas as pd
import datetime

# column names
pop='Population (in thousands) total'
gross = 'Gross national income per capita (PPP international $)'

df = pd.read_csv('WHO_first9cols.csv')
df

FileNotFoundError: [Errno 2] File WHO_first9cols.csv does not exist: 'WHO_first9cols.csv'

# btw, [pandas.read_cvs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) has LOTS of args
- good example of the utility of keyword args
- usually just takes one arg, the data source to read
- but, other args can be supplied as needed to "tweak" the functions behavior

In [2]:
type(df)

NameError: name 'df' is not defined

In [4]:
# quick summary of the data

df.describe()

NameError: name 'df' is not defined

In [5]:
# len is number of rows

df.shape, len(df), df.columns

NameError: name 'df' is not defined

In [6]:
# like linux 'head' command - show first n rows

df.head(4)

NameError: name 'df' is not defined

In [7]:
# like linux 'tail' command - show last n rows

df.tail(4)

NameError: name 'df' is not defined

In [8]:
# pull a column out, you get a Series

cs= df['Country']

print(type(cs))
cs.head(20)

NameError: name 'df' is not defined

In [9]:
# pull out one row as a series

df.iloc[2]

NameError: name 'df' is not defined

In [10]:
# slice of data frame is another data frame

df.iloc[2:5]

NameError: name 'df' is not defined

In [11]:
# even a one row slice is a data frame

df.iloc[2:3]

NameError: name 'df' is not defined

In [12]:
# make a boolean series

bser=df['Country'] == 'Bermuda' 
bser.head(25)

NameError: name 'df' is not defined

In [13]:
# pull out a row by name

df[df['Country'] == 'Bermuda']

NameError: name 'df' is not defined

In [14]:
# pull out row by index 

df.iloc[19]

NameError: name 'df' is not defined

In [15]:
df.sort_values(by=pop, ascending=False)

NameError: name 'df' is not defined

In [16]:
# cumlative sum, ignoring NaN's


df[pop].cumsum()

NameError: name 'df' is not defined

In [17]:
# can add cumsum as a column

df['cumsum pop'] = df[pop].cumsum()
df.head()

NameError: name 'df' is not defined

In [18]:
# pull out info about the literacy column

lit = 'Adult literacy rate (%)'

df[lit].min(), df[lit].max(), df[lit].mean(), df[lit].std()

NameError: name 'df' is not defined

In [19]:
# make a boolean array - true if literacy>mean

print(df[lit].mean())
ba = df[lit] > df[lit].mean()
ba[:9]

NameError: name 'df' is not defined

In [20]:
# select countries with literacy rate greater than the mean
# one liner

df[ df[lit] > df[lit].mean()]

NameError: name 'df' is not defined

In [21]:
# make a new data frame with the selected rows

df2 = df[ df[lit] > df[lit].mean()]
df2

NameError: name 'df' is not defined

In [22]:
# make new frame with lit> mean, and gross> 11000

# might try this, but doesn't work...

df[ df[lit] > df[lit].mean() and df[pop] > 11000]

NameError: name 'df' is not defined

In [23]:
# ...oddly, panda expressions use '&', '|', 
# instead of 'and' and 'or'

df[ (df[lit] > df[lit].mean()) & (df[pop] > 11000)]

NameError: name 'df' is not defined

# str methods
- do string operations on data
- most string methods are supported
- [doc](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)

In [24]:
dir(df.Country.str)

NameError: name 'df' is not defined

In [25]:
# do regular expression match on Country column

df[df.Country.str.contains('ri.')]

NameError: name 'df' is not defined

In [26]:
df[:6]

NameError: name 'df' is not defined

In [27]:
# replace space and lower case

df[:6].Country.str.replace(' ' ,'_').str.lower()

NameError: name 'df' is not defined

# date and time functionality
- panadas has quite a bit of it
- very popular in finance
- [doc](http://pandas.pydata.org/pandas-docs/stable/timeseries.html)
- [date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)
- [date_range frequencies](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)

In [28]:
# Series and DataFrame can have datetime indexes
# freq = 'B' means select business days(now weekend or holidays)

dr = pd.date_range('2020-2-1', '2020-2-29', \
                   freq="B")
dr

DatetimeIndex(['2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
               '2020-02-07', '2020-02-10', '2020-02-11', '2020-02-12',
               '2020-02-13', '2020-02-14', '2020-02-17', '2020-02-18',
               '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24',
               '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28'],
              dtype='datetime64[ns]', freq='B')

In [29]:
pd.Series(range(len(dr)), index=dr)

2020-02-03     0
2020-02-04     1
2020-02-05     2
2020-02-06     3
2020-02-07     4
2020-02-10     5
2020-02-11     6
2020-02-12     7
2020-02-13     8
2020-02-14     9
2020-02-17    10
2020-02-18    11
2020-02-19    12
2020-02-20    13
2020-02-21    14
2020-02-24    15
2020-02-25    16
2020-02-26    17
2020-02-27    18
2020-02-28    19
Freq: B, dtype: int64

In [30]:
# freq='W' - weekly(on sunday)

df = pd.DataFrame({'foo':[0,1,2,3], \
                   'bar':[30,31,32,33]},
        index=pd.date_range('2020-2-1',\
                            '2020-2-28', freq="W"))
df

            foo  bar
2020-02-02    0   30
2020-02-09    1   31
2020-02-16    2   32
2020-02-23    3   33

In [31]:
# gets the row as a Series
# a bit inefficient...

df.loc[datetime.date(2020,2,16)]

foo     2
bar    32
Name: 2020-02-16 00:00:00, dtype: int64

In [32]:
(df.loc[datetime.date(2020,2,16)])['bar']

32

In [33]:
# ...get the specific element by itself 
# specify [row, col] by names

df.loc[datetime.date(2020,2,16), 'bar']

32

In [34]:
# modify it

df.loc[datetime.date(2020,2,16), 'bar'] = 1234
df

            foo   bar
2020-02-02    0    30
2020-02-09    1    31
2020-02-16    2  1234
2020-02-23    3    33

# a DataFrame is a Very complex object

In [35]:
# over 400 methods!

len(dir(df))

432

# two sample datasets below to play with

In [36]:
import seaborn as sns 

planets = sns.load_dataset('planets')
planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [37]:
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# can run on multiple machines in parallel with dask
- [scalable pandas](https://www.youtube.com/watch?v=ods97a5Pzw0)
- [scalable ML](https://www.youtube.com/watch?v=tQBovBvSDvA)
- [doc](https://docs.dask.org/en/latest/)